In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
#read csv file
df_Aramco = pd.read_csv('Aramco Historical Data.csv', parse_dates=True)
df_Sabic = pd.read_csv('Sabic Historical Data.csv', parse_dates=True)
df_STC = pd.read_csv('STC Historical Data.csv', parse_dates=True)
df_Almarai = pd.read_csv('Almarai Historical Data.csv', parse_dates=True)

#merge the prices 
df_merged = pd.merge(df_Aramco, df_Sabic, on="Date", how="inner")
df_merged = df_merged[["Date", "Price_x", "Price_y"]]
df_merged = df_merged.rename(columns= {"Price_x": "Aramco", "Price_y": "Sabic"})
df_merged = pd.merge(df_merged, df_STC, on="Date", how="inner")
df_merged = df_merged[["Date", "Aramco", "Sabic", "Price"]]
df_merged = df_merged.rename(columns= {"Price": "STC"})
df_merged = pd.merge(df_merged, df_Almarai, on="Date", how="inner")
df_merged = df_merged[["Aramco", "Sabic","STC", "Price"]]
df_merged = df_merged.rename(columns= {"Price": "Almarai"})

#Calculate the return 
df_merged["Aramco_return"] = (df_merged.Aramco-df_merged.Aramco.shift(1)) / (df_merged.Aramco.shift(1))
df_merged

df_merged["Sabic_return"] = (df_merged.Sabic-df_merged.Sabic.shift(1)) / (df_merged.Sabic.shift(1))
df_merged

df_merged["STC_return"] = (df_merged.STC-df_merged.STC.shift(1)) / (df_merged.STC.shift(1))
df_merged

df_merged["Almarai_return"] = (df_merged.Almarai-df_merged.Almarai.shift(1)) / (df_merged.Almarai.shift(1))
df_merged

#The columns we want to show in the output
df_merged = df_merged[["Aramco_return", "Sabic_return", "STC_return" , "Almarai_return"]]


df_merged.dropna()

     Aramco_return  Sabic_return  STC_return  Almarai_return
1         0.009333     -0.015480   -0.003436       -0.018832
2        -0.006605     -0.003145   -0.010345        0.007678
3         0.007979      0.007886    0.012195        0.003810
4        -0.003958      0.000000   -0.010327        0.009488
5         0.003974     -0.007825    0.001739       -0.005639
..             ...           ...         ...             ...
246      -0.001416     -0.007299   -0.007505       -0.012821
247       0.007092      0.008403    0.003781        0.003711
248      -0.004225     -0.001042   -0.022599        0.007394
249       0.004243      0.001043    0.019268        0.007339
250      -0.018310     -0.041667   -0.018904       -0.016393

[250 rows x 4 columns]

In [3]:
matrix_of_return_values = df_merged.to_numpy()
matrix_of_return_values= matrix_of_return_values.asmatrix()

TypeError: Cannot interpret '4' as a data type